{% extends 'layout.twig' %}

{% block body %}
  {% verbatim %}
    <div class="container my-2" id="app">
        <h1 class="mb-3">PhoneBook</h1>

        <form @submit.prevent="createContact" class="mb-3">
            <h2 class="h5">Add contact</h2>

            <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                    <input v-model="name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-12">
                    <input v-model="phone" type="text" class="form-control" placeholder="Phone">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>

        <form @submit.prevent="loadContacts" class="mb-3">
            <h2 class="h5">Search contact</h2>

            <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                    <input v-model="term" type="text" class="form-control" placeholder="Search text">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Functions</th>
                </tr>
            </thead>
            <tbody v-cloak>
                <tr v-for="(contact, index) in contacts" :key="contact.id">
                    <td v-text="index + 1"></td>
                    <td>
                        <div v-if="!contact.isEditing" v-text="contact.name"></div>
                        <input v-else v-model="contact.tempName" class="form-control" type="text">
                    </td>

                    <td>
                        <div v-if="!contact.isEditing" v-text="contact.phone"></div>
                        <input v-else v-model="contact.tempPhone" class="form-control" type="text">
                    </td>

                    <td>
                        <div v-if="!contact.isEditing">
                            <button @click="startEdit(contact)" class="btn btn-primary">Edit</button>
                            <button @click="showDeleteContactConfirmModal(contact)" class="btn btn-danger">Delete</button>
                        </div>
                        <div v-else>
                            <button @click="saveEdit(contact)" class="btn btn-primary">Save</button>
                            <button @click="contact.isEditing = false" class="btn btn-danger">Cancel</button>
                        </div>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>

        <div ref="modal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Delete confirmation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you really want to delete this contact?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button @click="deleteContact" type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endverbatim %}
{% endblock %}
